body {
    font-family: Roboto, serif;
    align-content: baseline;
    font-weight: bold;
}

.group1 {
    padding: 0px 20px;
    max-width: 1100px;
    margin: auto;
}

.title {
    font-size: 2em;
    margin-bottom: 0.1em;
}

.title2 {
    font-size: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

.contenedor-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px;
    padding: 20px;
    max-width: 1100px;
    margin: auto;
    align-content: center;
}

.contenedor-grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0px;
    max-width: 700px;
    margin: auto;
    align-content: center;
}

.cuadro {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box-title {
    text-align: -webkit-center;
    align-items: center;
}

.cuadro img {
    width: 180px;
    height: 180px;
    margin-bottom: 10px;
    display: flex;
    border-radius: 5%;
    align-items: center;
}

.cuadro h3 {
    font-size: 1.2em;
}

.cuadro p {
    color: #555;
    font-size: 0.95em;
}

p {
    font-weight: 500;
}

